.boton-contenedor {
  height: 75px;
  display: flex;
  flex: 1 1;
  justify-content: center;
  align-items: center;
  font-family: bold;
  font-size: 2.5em;
  background-color: #1b1b32;
  color: white;
  border-radius: 25px;
  border: 2px solid white;
  margin: 4px 8px 12px 8px;
  cursor: pointer;
  user-select: none;
}

.boton-contenedor:hover {
  background-color: #5a01a7;
}

.operador {
  background-color: #00471b;
}

.operador:hover {
  background-color: #ff6600;
}

img {
  height: 55px;
}